svg {
  height: 314px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 12vh;
  width: 430px;
  left: 70vw;
  position: absolute;
  opacity: .8;
}
path {
  fill: #3C5947;
  stroke: #3C5947;
  animation: animate 4s ease;
  stroke-dasharray: 3300;
  opacity: 10;
}
@keyframes animate {
  0%  {
    opacity: 0;
    fill: transparent;
    stroke-dashoffset: 3300;
  }
  30% {
    opacity: .8;
    fill: transparent;
    stroke-dashoffset: 3300;
  }
  100% {
    fill: #3C5947;
    stroke-dashoffset: 0;
  }
}
